*{
  margin: 0;
  padding: 0;
}

header nav{
  background-color: #111;
  color: #fff;
  height: 50px;
  padding: 15px 0 0 0;
  }

header p a{
  color: #fff;
}

 header ul li{
  display: inline;
  float: left;
  padding: 45px 0 0 100px;
}

header ul li:last-child{
  float:right;
  padding: 45px 100px 0 0;
}

header h1{
 width: 650px;
 margin: auto;
 padding-top:150px; 
 padding-bottom: 150px;
 font-size: 65px;
 text-align: center;
}

.arrow{
  width: 45px;
  height: 45px;
  transform: rotate(90deg); 
  display: block;
  margin: auto;
}

main img{
  margin-top: 45px;
  width:100%;
}
.rightArrow{
  position: relative;
  width: 50px;
  float: right;
  top: -83px;
  right: 15px;
}
.float p{
margin-top:15px;
margin-left:15px;
font-size: 25px;
font-weight: bold;
text-transform: uppercase;
}

.img2{
  position:relative;
  top:-105px;
}

.position{
  position: relative;
  top:-85px;
}

.img3{
  position: relative;
  top: -190px;
}

.viewM{
  background-color: rgb(239, 239, 239);
  height: 65px;
  padding: 45px 45px 0 45px;
}

.viewM p{
font-weight: bold;
font-size: 20px;
}

.viewM img{
  width:100px;
  height: 70px;
}

.wThink{
  height:400px;
  background-color: #111;
  color: #fff;
  margin: 80px 0 0 0;
  padding: 15px;
}
.wThink img{
  height: 50px;
  width: 200px;
  float: right;
  position:relative;
  top:150px;
}

.wThink p{
 font-size: 45px;
 font-weight:bold;
 padding: 0;
 
}

.oAgency p{
  margin: 190px 0 0 0;
  font-size: 26px;
}

footer p{
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  margin: 5px 0;
}

footer li{
  display: inline;
  float: right;
  font-weight: bold;
  margin: 0 15px 15px 15px;
}
footer li:first-child{
  float: left;
}
footer a{
  color:#111;
}